    <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a href="/AnaSayfa/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Blog</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/Admin/AnaSayfa/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-comment"></i>
                <div data-i18n="Analytics">Haberler</div>
              </a>
            </li>

            <li class="menu-item">
             <a href="/Admin/YonetimUye/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-face"></i>
                <div data-i18n="Analytics">Yönetim Kurulu Üyeleri</div> @**@
              </a>
            </li>
           
             <li class="menu-item">
              <a href="/Admin/Hakkimizda/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-bookmark-alt"></i>
                <div data-i18n="Analytics">Hakkımızda </div>
              </a>
            </li>
           
             <li class="menu-item">
                <a href="/AnaSayfa/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-exit"></i>
                <div data-i18n="Analytics">Çıkış Yap</div>
              </a>
            </li>
          </ul>
