@using EntityLayer.Concrete
@model List<YonetimUye>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yönetim Kurulu Üyeleri</h1>
<table class="table table-bordered">
    <tr>
        <th>Ad Soyad</th>
        <th>Resim</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AdSoyad</td>
            <td>@item.Resim</td>
            <td>@item.Aciklama</td>
            <td><a href="/Admin/YonetimUye/DeleteYonetimUye/@item.YonetimUyeID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/YonetimUye/UpdateYonetimUye/@item.YonetimUyeID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Admin/YonetimUye/AddYonetimUye" class="btn btn-outline-primary">Yeni Yönetim Kurulu Üyesi</a>

